<NuGetPack>
  <AddFrameworkReferences>true</AddFrameworkReferences>
  <DoIncludeSources>false</DoIncludeSources>
  <IconUrl>http://www.codeplex.com/favicon.ico</IconUrl>
  <ProjectUrl>https://pubcomp.codeplex.com/#</ProjectUrl>
  <LicenseUrl>https://pubcomp.codeplex.com/license</LicenseUrl>
  <Authors>Demo Author</Authors>
  <Owners>Demo Owner</Owners>
  <Copyright>Demo Copyright</Copyright>
  <Description>Demo Description</Description>
  <Summary>Demo Summary</Summary>
  <Keywords>Demo, Key, Word</Keywords>
</NuGetPack>