<NuGetPack>
  <AddFrameworkReferences>false</AddFrameworkReferences>
  <DoIncludeSources>false</DoIncludeSources>
  <ProjectUrl>https://github.com/pub-comp/building</ProjectUrl>
  <LicenseUrl>https://github.com/pub-comp/building/blob/master/License.txt</LicenseUrl>
  <Authors>Danny Varod</Authors>
  <Owners>Danny Varod</Owners>
  <Copyright></Copyright>
  <Description>Create NuGet packages during your build. Adds NuGetPack.exe to your solution</Description>
  <Summary>Create NuGet packages during your build. Adds NuGetPack.exe to your solution</Summary>
  <Keywords>NuGet, NuGetPack, NuGetPack.exe, Package, Packages, Build, PubComp</Keywords>
</NuGetPack>