<NuGetPack>
  <DoIncludeSources>true</DoIncludeSources>
  <DoIncludeCurrentProjectInNuSpec>true</DoIncludeCurrentProjectInNuSpec>
  <AddFrameworkReferences>false</AddFrameworkReferences>
  <IconUrl>http://tfs-nugetserver.payoneer.com/Images/PayoneerIcon.ico</IconUrl>
  <ProjectUrl>http://tfs:8090/tfs/DefaultCollection/Payoneer/_git/infrastructure-general</ProjectUrl>
  <LicenseUrl>http://portal.payoneer.com/</LicenseUrl>
  <Authors>Infrastructure</Authors>
  <Owners>Payoneer Inc.</Owners>
  <Copyright>Copyright © Payoneer Inc 2015+</Copyright>
  <Description>Entity Screener Base Types</Description>
  <Summary>Various Types</Summary>
  <Keywords>infra, infrastructure, Base</Keywords>
</NuGetPack>