<NuGetPack>
  <AddFrameworkReferences>true</AddFrameworkReferences>
  <IncludeSources>true</IncludeSources>
  <IconUrl>http://www.nuget.org/favicon.ico</IconUrl>
  <ProjectUrl>https://pubcomp.codeplex.com/</ProjectUrl>
  <LicenseUrl>https://pubcomp.codeplex.com/license</LicenseUrl>
  <Authors>Demo Author</Authors>
  <Owners>Demo Owner</Owners>
  <Copyright>Demo Copyright</Copyright>
  <Description>Demo Description</Description>
  <Summary>Demo Summary</Summary>
  <Keywords>Demo, Key, Word</Keywords>
</NuGetPack>