<NuGetPack>
  <DoIncludeSources>true</DoIncludeSources>
  <DoIncludeCurrentProjectInNuSpec>true</DoIncludeCurrentProjectInNuSpec>
  <AddFrameworkReferences>false</AddFrameworkReferences>
  <IconUrl>http://tfs-nugetserver.payoneer.com/Images/PayoneerIcon.ico</IconUrl>
  <ProjectUrl>https://github.com/pub-comp/building</ProjectUrl>
  <LicenseUrl>http://portal.payoneer.com/</LicenseUrl>
  <Authors>Infrastructure</Authors>
  <Owners>Payoneer Inc.</Owners>
  <Copyright>Copyright © Payoneer Inc 2015+</Copyright>
  <Description>Various Aspects</Description>
  <Summary>Various Aspects</Summary>
  <Keywords>infra, infrastructure, aspects, aop</Keywords>
</NuGetPack>